body {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}

button.btn.btn-default {
    min-width: 8rem;
}

.window-panel .row {
    padding-top: 1rem;
}

.stick-right {
    position: absolute;
    top: 0;
    right: 0;
}

.edit-window {
    position: relative;
}

.edit-window .input-group {
    padding-top: 2rem; 
}

.edit-window span.input-group-addon {
    min-width: 152px;
}

/* new vehicle form validation styles */
form.ng-pristine .alert.alert-danger {
    display: none;
}

form .alert.alert-danger {
    margin-top: 20px;
    margin-bottom: 0;
}

form.new-vehicle-form span.input-group-addon {
    transition:all linear 0.5s;
}

form.new-vehicle-form span.input-group-addon + input.ng-invalid.ng-touched {
    background: lightcoral;
    background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

form.new-vehicle-form span.input-group-addon + input.ng-valid.ng-touched {
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

@media screen and (min-width: 900px) {
    .wrapper {
        width: 80%;
    }
}